.background {
  background-color: #6260DD;
  background-position: center;
  background-size: cover;
}

.headerWrapper {
  margin-top: 16px;
  height: 56px;
}

.social {
  fill: #fff;
}

.banner {
  margin: 105px auto 177px;
  color: #ffffff;
}

.banner > :first-child {
  font-weight: 300;
  font-size: 26px;
  line-height: 30px;
}

.banner > :nth-child(2) {
  font-weight: 600;
  font-size: 95px;
  line-height: 142px;
}

.banner > :nth-child(3) {
  font-weight: 300;
  font-size: 63px;
  line-height: 63px;
}


.bannerCompany {
  margin: 92px auto 164px;
  font-weight: 200;
  font-size: 40px;
  line-height: 60px;
  color: #ffffff;
}

.bannerCompany > .future {
  background: #FFFFFF;
  border-radius: 10px;
  padding: 0 20px;
  font-weight: 600;
  color: #143597;
}
